@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    padding: 1em;
    margin: 0;
}

* {
    font-family: 'Inter';
    box-sizing: border-box;
}

p {
    margin-left: 0.5em;
}

code {
    padding: 0.5em 0.7em;
    background-color: #f1f1f1;
    border-radius: 3px;
    display: block;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
    letter-spacing: -1px;
    margin-bottom: 8px;
    width: 100%;
}

pre.php {
    mask-image: url('../resrouces/elephant-2-svgrepo-com.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #070715;
}

pre {
    aspect-ratio: 1;
    height: 0.9em;
    margin: 0;
    display: inline-block;
}

li {
    margin: 8px 0;
}

a {
    color: #070715;
    text-decoration: none;
    font-weight: 600;
}

a::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../resrouces/link-external-new-window-open-svgrepo-com.svg');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;

}

h1,
a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    gap: 0.3em;
}

form {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    width: 100%;
}

input {
    background-color: #eee;
    border: none;
    padding: 0.7em;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"] {
    font-weight: 600;
    width: fit-content;
    padding: 0.7em 1em;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ddd;
}

.center {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    height: 70vh;
}