@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    padding: 1em;
    margin: 0;
}

* {
    font-family: 'Inter';
}

p {
    margin-left: 0.5em;
}

code {
    padding: 0.5em 0.7em;
    background-color: #f1f1f1;
    border-radius: 3px;
    display: block;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
    letter-spacing: -1px;

}